/* Element Styles */
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a, h1, h4, h5, p {
    color: var(--font-colour);
    font-family: Futura;
}

h2, h3 {
    color: var(--hover-colour);
    font-family: Futura;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.8em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1em;
}

audio {
    width: 100%;
    height: 15%;
}

/* Header Styles */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5em;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 2;
}

.nav-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo img {
    margin: 0 1em;
    height: 2.5em;
    transition: .5s ease-in-out;
}

.nav-logo img:hover {
    transform: rotate(-25deg);
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-item {
    display: inline-block;
    position: relative;
    transition: .2s ease-in-out;
    text-decoration: none;
    font-size: 1.4em;
    margin: 0 1em;
}

.nav-item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--hover-colour);
    transform-origin: center;
    transition: all 0.25s ease-out;
}

.nav-item:hover {
    color: var(--hover-colour);
}

.nav-item:hover::after {
    transform: scaleX(1);
}

/* Home Styles */
#home {
    height: calc(100vh - 4em);
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0 1em;
    text-align: center;
    margin-bottom: 2em;
}

.title-name {
    color: var(--hover-colour);
}

.title p {
    font-size: 1.5em;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-icon {
    transition: .2s ease-in-out;
    font-size: 1.7em;
    margin: 0.25em;
}

.social-media-icon:hover {
    color: var(--hover-colour);
    transform: translateY(-0.1em);
}

.next-arrow {
    text-decoration: none;
    position: absolute;
    bottom: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-chevron-down {
    transform: scale(1.5, 1);
    margin-top: -0.5em;
}

/* About Styles */
#about {
    padding-top: 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1.5em 1em;
}

.about-img {
    height: 15em;
    border-radius: 50%;
}

.about-text {
    text-align: justify;
    margin: 2em;
    font-size: 1.2em;
    width: 26em;
}

.hobbies {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hobby {
    position: relative;
    width: 15em;
    padding: 7.5em 0;
    margin: 3em 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hobby-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5s ease-in-out;
    backface-visibility: hidden;
}

.front h4 {
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 7px #000000;
}

.hobby:nth-child(1) .front {
    background-image: url("../../../Files/Music.jpg");
}

.hobby:nth-child(2) .front {
    background-image: url("../../../Files/Track.jpg");
}

.hobby:nth-child(3) .front {
    background-image: url("../../../Files/Anime.jpg");
}

.front {
    transform: perspective(50em) rotateY(0);
}

.hobby:hover .front {
    transform: perspective(50em) rotateY(-180deg);
}

.back {
    display: block;
    padding: 1em;
    background-color: white;
    transform: perspective(50em) rotateY(-180deg);
}

.hobby:hover .back {
    transform: perspective(50em) rotateY(-360deg);
}

/* Projects Style */
.project-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects {
    height: calc(100vh - 4em);
    margin-top: 5em;
    padding-top: 4em;
    width: 80%;
}

#projects h3 {
    margin: 0 5%;
    padding-top: 2rem;
}

.center {
    display: flex;
    justify-content: center;
}

#projects .center hr {
    width: 90%;
    border: 0.25rem solid var(--hover-colour);
}

.project-wrapper {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-wrapper a {
    width: 25vw;
    margin: 1.5rem;
}

.project {
    height: 100%;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    transition: .4s ease-in-out;
}

.project:hover {
    transform: scale(1.03);
}

.project img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.5rem;
}

.project h4 {
    color: var(--hover-colour);
}

.project h5 {
    font-style: italic;
}