/* Element Styles */
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a, h1, h2, h4, h5, p {
    color: var(--font-colour);
    font-family: Futura;
}

h3 {
    color: var(--hover-colour);
    font-family: Futura;
}

h1 {
    font-size: 3.8em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1em;
}

/* Header Styles */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5em;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 2;
}

.nav-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo img {
    margin: 0 1em;
    height: 2.5em;
    transition: .5s ease-in-out;
}

.nav-logo img:hover {
    transform: rotate(-25deg);
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-item {
    transition: .2s ease-in-out;
    text-decoration: none;
    font-size: 1.4em;
    margin: 0 1em;
}

.nav-item:hover {
    color: var(--hover-colour);
}

/* Home Styles */
#home {
    height: calc(100vh - 4em);
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 2em;
}

.title-name {
    color: var(--hover-colour);
}

.title p {
    font-size: 1.5em;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-icon {
    transition: .2s ease-in-out;
    font-size: 1.7em;
    margin: 0.25em;
}

.social-media-icon:hover {
    color: var(--hover-colour);
    transform: translateY(-0.1em);
}

/* About Styles */
#about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1.5em 1em 5em;
}

.about-img {
    height: 15em;
    border-radius: 50%;
}

.about-text {
    text-align: justify;
    margin: 2em;
    font-size: 1.2em;
    width: 26em;
}

/* Projects Style */
#projects {
    height: calc(100vh - 4em);
    margin-top: 5em;
}

#projects h3 {
    margin: 0 3rem;
    padding-top: 2rem;
}

.center {
    display: flex;
    justify-content: center;
}

#projects .center hr {
    width: 95%;
    border: 0.25rem solid var(--hover-colour);
}

.project-wrapper {
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

.project {
    width: 23rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    transition: .4s ease-in-out;
}

.project:hover {
    transform: scale(1.03);
}

.project img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.5rem;
}

.project h4 {
    color: var(--hover-colour);
}

.project h5 {
    font-style: italic;
}